<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.admin.mapper.DictTypeMapper">

    <resultMap id="dictTypeMap" type="DictType">
        <id property="id" column="id"/>
        <result property="dictName" column="dict_name"/>
        <result property="dictType" column="dict_type"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="selectById" resultMap="dictTypeMap">
        SELECT * FROM sys_dict_type WHERE id = #{id}
    </select>

    <select id="selectList" resultMap="dictTypeMap">
        SELECT * FROM sys_dict_type
        <where>
            <if test="keyword != null and keyword != ''">
                AND dict_name LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
        ORDER BY id
    </select>

    <select id="selectByDictType" resultMap="dictTypeMap">
        SELECT * FROM sys_dict_type WHERE dict_type = #{dictType}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_dict_type(dict_name, dict_type, status, create_time)
        VALUES(#{dictName}, #{dictType}, #{status}, #{createTime})
    </insert>

    <update id="update">
        UPDATE sys_dict_type
        SET dict_name = #{dictName},
            dict_type = #{dictType},
            status = #{status}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM sys_dict_type WHERE id = #{id}
    </delete>

</mapper>
